@import '~normalize.css';
@import '~font-awesome/css/font-awesome.css';

$text-dark: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: $text-dark;
  height: 100%;
}

a {
  color: $text-dark;
  text-decoration: none;

  &:link,
  &:hover,
  &:active,
  &:visited, {
    color: $text-dark;
  }
}

#container, #container > div {
  height: 100%;
}

.Navigation {
  position: fixed;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 32px;
  opacity: 0;
  z-index: 100;
}
@media screen and (max-width: 600px) {
  .Navigation {
    height: 60px;
    width: 100%;
    margin: 0;
    background: #fff;
  }
}

.NavigationItem {
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  background: #333;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: all ease-in-out 0.17s;
}

.NavigationItemLinkActive {
  width: 12px;
  height: 12px;
  transform: translateY(-4px),
}

.iphoneScreenVideoActive {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}

.pd-left-120px {
  padding-left: 120px;
}
@media screen and (max-width: 600px) {
  .pd-left-120px {
    padding-left: 0;
  }
}

.element {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .element {
    padding: 24px;
    min-height: 100%;
    height: auto;
  }
}

.va-center {
  display: flex;
  align-items: center;
}

.ha-center {
  display: flex;
  justify-content: center;
}

.h100p {
  height: 100%;
}
